{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h1 class="mb-4">Usuarios registrados</h1>
<ul class="list-group">
    {% for user in users %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('users.profile', id=user.id) }}">{{ user.username | capitalize }}</a>
            <span class="badge bg-primary">{{ user.email }}</span>
        </li>
    {% else %}
        <li class="list-group-item">No hay usuarios registrados.</li>
    {% endfor %}
</ul>
{% endblock %}